header {
  font-family: 'Rock Salt', cursive;
  font-size: 30px;
}
nav > ul{
  display: inline-flex;
  font-family: 'Oswald', sans-serif;
  list-style: none;
  width: 90%;
  justify-content: space-evenly;
  background-color:rgba(92, 90, 89, 0.794);
  color: white;
  }
nav{
  color: white;
}

h1{
  font-family: font-family: 'Rock Salt', cursive;
  font-size: 30px;
  font-weight: 500px;
  text-align: center;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

h2{
  font-family: 'Oswald', sans-serif;
}
body{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slider{
        width: 300px;
        height: 300px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
    }
.image-container {
        width: 1500px;
        background-color: white;
        height: 300px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
      }
.slide {
        float: center;
        margin: 0px;
        padding: 0px;
        position: relative;
      }
#slide-1:target ~ .image-container {
        left: -425px;
      }
#slide-2:target ~ .image-container {
        left: -500px;
      }
#slide-3:target ~ .image-container {
        left: -1000px;
      }
.buttons {
        position: relative;
        top: 100px;
      }
.buttons a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: red;
      }


form  {
  margin: 0 auto;
  width: 500px;
  border: black;
  border: 10px solid;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 500px;
  border: black;
  border: 10px solid;
  font-weight: 10;

}
form li + li {
  margin-top: 1em;
}
textarea  {
  width: 500px;
  border: 10px, black;
  border: 10px solid;
}
button {

}
